<!DOCTYPE html>
<html>
<head>
  <title>DOTA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/header" %>
  <%= render "layouts/carousel" %>
  <!-- Main -->

  <div class="container marketing">
    <%= yield %>
  </div>
  <%= render "layouts/footer" %>

</body>
</html>

